{% extends 'base_admin.html' %}
{% load static %}
{% block title %}Admin Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'hms.css' %}">

<div class="container mt-5 text-center">
  <h2 class="fw-bold mb-4">Welcome, {{ request.user.username }}</h2>
  <h5 class="text-muted mb-5">
    <span style="color: rgb(230, 48, 48); font-weight: bold;">PulseTrack</span> Administration — oversee patients, doctors, and appointments.
  </h5>

  <div class="row justify-content-center g-3">
    
    
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="card text-white bg-success text-center py-3 dashboard-card d-flex align-items-center justify-content-center" style="height: 160px; width: 90%; margin: 0 auto;">
        <div>
          <h5 class="mb-2">Active Doctors</h5>
          <h3 class="fw-bold">{{ active_doctors }}</h3>
        </div>
      </div>
    </div>

    <div class="w-100"></div>

    
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="card text-white bg-dark text-center py-3 dashboard-card d-flex align-items-center justify-content-center" style="height: 160px; width: 90%; margin: 0 auto;">
        <div>
          <h5 class="mb-2">Total Doctors</h5>
          <h3 class="fw-bold">{{ total_doctors }}</h3>
        </div>
      </div>
    </div>

    
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="card text-white bg-danger text-center py-3 dashboard-card d-flex align-items-center justify-content-center" style="height: 160px; width: 90%; margin: 0 auto;">
        <div>
          <h5 class="mb-2">Total Patients</h5>
          <h3 class="fw-bold">{{ total_patients }}</h3>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
